body {
	background: url('');
	background-size: cover;
}

.bgvideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -9999;
}

.logo img {
	width: 50%;
	margin-top: 30px;
}

.pole-form {
	margin-top: 70px;
}