@import url("../fonts/roboto/roboto.css");
* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
}

body {
	font-family: "Roboto";

}

.shadow-box {
	box-shadow: 0 0 3px 0.1px silver;
}

#statusbar {
	width: 100%;
	height: 55px;
	top: 0;
	background-color: #896043;
	position: absolute;
	z-index: 10;
}

#layout[page='login'] {
	background-image: url(../images/logo_bg.jpg);
	background-position: center center;
	background-size: 100% 100%;
}

#statusbar .name-layout {
	color: white;
	font-size: 20px;
	font-weight: 400;
	margin: 16px 20px 0;
}

#tabbar {
	width: 100%;
	background-color: #ffffff;
	height: 72px;
	position: fixed;
	z-index: 10;
	bottom: 0;
}

#tabbar nav .button {
	float: left;
	width: calc(100% / 4);
	text-align: center;
	height: 72px;
}

#tabbar nav .button.active {
	background-color: #e6e6e6;
}

#tabbar nav .button.active .name {
	color: #b28564;
}
#tabbar nav .button.active .icon {
	color: #b28564;
}
#tabbar nav .button .name {
	position: absolute;
	width: calc(100% / 4);
	bottom: 0;
	margin-bottom: 9px;
	font-size: 14px;
	color: #858585;
}

#tabbar nav .button .icon {
	padding: 9px 0;
	font-size: 22px;
	color: #303030;
}

#tabbar nav .button:hover {
	background-color: #e6e6e6;
}

#tabbar nav .button:hover .name {
	color: #b28564;
}
#tabbar nav .button:hover .icon {
	color: #b28564;
}


#layout {
	margin-top: 55px;
	position: relative;
	width: 100%;
}

#layout .logo img {
	width: calc(100% - (85px * 2));
	padding: 40px 85px;
}


#layout .box-login {
	position: absolute;
	width: calc(100% - 50px);
	height: 252px;
	background-color: #ebebeb;
	bottom: 0;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding: 25px 25px 0 25px;
}
#layout .box-login .back-call {
	font-size: 12px;
	margin-top: 20px;
	width: 100%;
	text-align: center;
	color: #66a3ff;
}

#layout .box-login .back-call > a {
	color: #3399ff;
	text-decoration: underline;
}


.input-group label {
	text-align: left;
	float: left;
	width: calc(100% - 2px);
	font-size: 12px;
	color: #696969;
}

.input-group input {
	height: 46px;
	margin-top: 10px;
	width: calc(100% - 22px);
	border: none;
	padding-left: 20px;
}

.input-group input[type=submit] {
	height: 46px;
	margin-top: 10px;
	width: 100%;
	border: none;
	padding-left: 0px;
	font-size: 14px;
	color: white;
	background-color: #b28564
}

.input-group input[disabled=disabled] {
	color: white;
	background-color: #d6bca9
}

.input-group input[type=submit]:active {
	height: 46px;
	margin-top: 10px;
	width: 100%;
	border: none;
	padding-left: 0px;
	font-size: 14px;
	color: white;
	background-color: #78543b
}

.PIN input {
	padding-left: 0;
	font-size: 25px;
	width: 100%;
}
.PIN input::placeholder {
	color: #c1c8c9;
}



#overlay {
	position: absolute;
	z-index: 21;
	background-color: rgba(0, 0, 0, 0.6);;
	width: 100%;
	display: none;
}

#overlay .PIN {
	width: calc(100% - (75px * 2));
	margin: 0 50px;
	background-color: #ebebeb;
	border-radius: 30px;
	padding: 25px 25px 35px 25px;
}

#overlay .PIN input {
	text-align: center;
}

#overlay .close {
	text-align: center;
	font-size: 35px;
	margin-top: 30px;
	color: #ff4d4d;
}

#map {
	width: 100%;
	height: 100%;
	position: absolute;
}